:root {
	--color-default: #3A302B;
}

/*
	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/


html {
	height: 100%;
}

body {
	background-image: url(/images/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	background-image: url(/images/colorfulchina.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 48rem;
	height: 16rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.wheel {
	position: fixed;
	height: 50rem;
	bottom: -40rem;
}

.wheel img {
	width: 100%;
	filter: blur(2px);
}

h1 {
	color: var(--color-default);
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.50);
	font-family: Inter;
	font-weight: 600;
	font-size: clamp(10px, 3vw, 50px);
	line-height: 0.625rem;
	letter-spacing: 0.25rem;
}