:root {
	--color-default: #3A302B;
}

/*
	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/


/* Start Screen */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

.body-start {
	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-start {
	background-image: url("/images/colorfulchina.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px rgb(0 0 0 / 50%));
	width: 48rem;
	height: 16rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	z-index: 1;
}

.title-start h1 {
	color: var(--color-default);
	text-shadow: 0 5px 10px rgb(0 0 0 / 50%);
	font-family: Inter;
	font-weight: 600;
	font-size: clamp(5px, 3.8vw, 30px);
	line-height: 0.75rem;
	letter-spacing: 0.5rem;
}

.wheel {
	background-image: url("/images/wheel.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	width: 64rem;
	height: 64rem;
	z-index: 0;
}

.wheel-start {
	bottom: -48rem;
}

.button {
	position: absolute;
	border-radius: 0.5rem;
	box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
	width: 12rem;
	height: 4rem;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* Selection Screen General */

.body-selection {
	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-selection::after {
	content: "";
	background-color: rgb(255 255 255 / 75%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#wheel-selection {
	bottom: -40rem;
}


.button-selection {
	position: absolute;
	border-radius: 0.5rem;
	box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
	width: 12rem;
	height: 4rem;
	left: 50%;
	bottom: 18%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.left {
	position: absolute;
	transform: scale(0.75);
	top: 35%;
	left: 10%;
	z-index: 2;

	@media (width >=480px) {
		transform: scale(1.0);
		top: 40%;
	}
}

.right {
	position: absolute;
	transform: scale(0.75);
	top: 35%;
	right: 10%;
	z-index: 2;

	@media (width >=480px) {
		transform: scale(1.0);
		top: 40%;
	}
}

.home {
	border-radius: 0.5rem;
	box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
	width: 6rem;
	height: 2.5rem;
	position: absolute;
	right: 5%;
	top: 2%;
	z-index: 2;
}

/* Selection Screen Specific */

.title-selection-yellow {
	background-image: url("/images/yellow.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px #FFC107);
	width: 30rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 1;
}

.title-selection-white {
	background-image: url("/images/white.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px #FFE5D0);
	width: 27rem;
	height: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 11%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 1;
}

.title-selection-black {
	background-image: url("/images/black.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px #161823);
	width: 27rem;
	height: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 11%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 1;
}

.title-selection-blue {
	background-image: url("/images/blue.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px #0D6EFD);
	width: 21rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 1;
}

.title-selection-red {
	background-image: url("/images/red.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: drop-shadow(0 5px 10px #DC3545);
	width: 21rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 1;
}

.wheel-yellow {
	transform: rotate(0deg);
}

.wheel-white {
	transform: rotate(72deg);
}

.wheel-black {
	transform: rotate(144deg);
}

.wheel-blue {
	transform: rotate(-144deg);
}

.wheel-red {
	transform: rotate(-72deg);
}

/* Gallery Screen General */

.body-gallery::after {
	content: "";
	background-color: rgb(255 255 255 / 75%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#wheel-gallery {
	top: -27rem;
	transform: translate(-50%, -50%);
	left: 50%;
}

.wheels {
	border-radius: 0.5rem;
	box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
	width: 6rem;
	height: 2.5rem;
	position: fixed;
	z-index: 2;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 2rem;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 1rem;
	width: 100%;

	@media (width >=1024px) {
		width: 60%;
	}
}

p {
	text-align: right;
	font-family: Inter;
	font-weight: 400;
}

.arrow {
	width: 3rem;
	align-self: center;
}

/* Gallery Screen Specific */

#body-gallery-yellow {
	display: flex;
	background-image: url("/images/img-yellow.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (width >=1024px) {
		background-image: url("/images/background.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
}

.img-yellow {
	display: none;

	@media (width >=1024px) {
		background-image: url("/images/img-yellow.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
	}
}

.calli-yellow::after {
	content: "";
	display: block;
	width: 30rem;
	height: 10rem;
	background-image: url("/images/yellow.png");
	position: relative;
	border: 10px solid red;
}

.description-yellow::after {
	content: "";
	display: block;
	width: 10rem;
	height: 10rem;
	background-image: url("/images/huanglong.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	top: -12.5rem;
}

.test {
	width: 80%;
	height: 1000px;
}